node-red-flow/flows.json
[{"id":"bee77d51.c4785","type":"tab","label":"RECEIPT SCAN","disabled":false,"info":""},{"id":"a282ff16.ef6a3","type":"tab","label":"RECEIPT SCAN SCREEN","disabled":false,"info":""},{"id":"64beb62b.c3e028","type":"tab","label":"Scan Barcode","disabled":false,"info":""},{"id":"a8e92d01.5c551","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9f962e90.80853","type":"tab","label":"ROY Step 2","disabled":false,"info":""},{"id":"e3d3adc8.eb969","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fb902840.8a9a48","type":"websocket-listener","path":"/ws/receipt","wholemsg":"false"},{"id":"b6f7b0ab.53b2b","type":"Db2","hostname":"dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":"Db2"},{"id":"a50bb690.af3168","type":"websocket-listener","path":"/ws/barcode","wholemsg":"false"},{"id":"edd698c4.e82588","type":"websocket-listener","path":"/ws/green1","wholemsg":"false"},{"id":"dd4de0e9.d2797","type":"websocket-listener","path":"/ws/sum","wholemsg":"false"},{"id":"39cd944.389e56c","type":"websocket-listener","path":"/ws/green2","wholemsg":"false"},{"id":"f2f2649a.0d0d98","type":"debug","z":"bee77d51.c4785","name":"","active":true,"console":"false","complete":"false","x":810,"y":40,"wires":[]},{"id":"e7bd5dc5.f57af","type":"http in","z":"bee77d51.c4785","name":"","url":"/receipt","method":"post","upload":false,"swaggerDoc":"","x":190,"y":80,"wires":[["df13f280.3b36f"]]},{"id":"df13f280.3b36f","type":"function","z":"bee77d51.c4785","name":"","func":"msg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":80,"wires":[["9d2362a9.ab2d3"]]},{"id":"9d2362a9.ab2d3","type":"split","z":"bee77d51.c4785","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":510,"y":80,"wires":[["aa938df0.5d76e"]]},{"id":"aa938df0.5d76e","type":"join","z":"bee77d51.c4785","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":670,"y":80,"wires":[["f2f2649a.0d0d98","54729b07.82b634","df875b54.4afed8","34b9bc7d.45eb84","1b66be4f.287f62","3a5cfaea.261916"]]},{"id":"8aa3cd45.68dea","type":"function","z":"bee77d51.c4785","name":"","func":"let query = \"SELECT COUNT(DATE) FROM RECEIPTS WHERE RECEIPTID = '\";\nquery += msg.payload;\nquery += \"';\";\n\nmsg.payload = query;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":300,"wires":[["80939cfe.e2116"]]},{"id":"80939cfe.e2116","type":"Db2 in","z":"bee77d51.c4785","Db2":"b6f7b0ab.53b2b","service":"_ext_","query":"","params":"","name":"","x":290,"y":340,"wires":[["54b65b38.6e2a24","6a91972e.8a7478"]]},{"id":"54729b07.82b634","type":"function","z":"bee77d51.c4785","name":"","func":"msg.payload = msg.payload[0];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":100,"y":240,"wires":[["8aa3cd45.68dea","f7484593.267728"]]},{"id":"f7484593.267728","type":"function","z":"bee77d51.c4785","name":"","func":"msg.payload = {\n    \"RECEIPTID\": msg.payload\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":240,"wires":[["472a2a0d.2062c4"]]},{"id":"54b65b38.6e2a24","type":"function","z":"bee77d51.c4785","name":"","func":"if (msg.payload[\"1\"] == \"0\"){\n   msg.payload = \"Receipt added to log!\"\n}\n\nelse {\n    msg.payload = null\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":340,"wires":[["946959c7.c78748","8633b1bb.c8e22"]]},{"id":"472a2a0d.2062c4","type":"join","z":"bee77d51.c4785","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":200,"wires":[["19142730.687529","6acbba28.221084"]]},{"id":"8baa7dbd.cd1ed","type":"comment","z":"bee77d51.c4785","name":"RECEIPTID","info":"","x":130,"y":140,"wires":[]},{"id":"6a1034d2.32b8fc","type":"comment","z":"bee77d51.c4785","name":"DATE & LOCATION","info":"","x":1250,"y":100,"wires":[]},{"id":"df875b54.4afed8","type":"function","z":"bee77d51.c4785","name":"LOCATION, DATE MSG.PAYLOAD","func":"msg.payload = {\n    \"DATE\": msg.payload[1],\n    \"LOCATION\": msg.payload[2]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":160,"wires":[["72fe2f6b.301b9","9e4ce2a9.4bdc1","39f2e58f.af059a","314baf0b.2531f","50ef8cb1.5c9534","d4b6816a.506da"]]},{"id":"19142730.687529","type":"function","z":"bee77d51.c4785","name":"RECEIPT ID MSG.PAYLOAD","func":"msg.payload = {\n    \"RECEIPTID\": msg.payload.RECEIPTID\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":220,"wires":[["72fe2f6b.301b9","6576b050.6cb43","9e4ce2a9.4bdc1","8af02cd6.64fd4","2468b5ca.2114da","e0c6c431.5a4f38","37512218.11abde","145946d2.c5c7b9"]]},{"id":"ca17951f.407598","type":"function","z":"bee77d51.c4785","name":"INUSE","func":"msg.payload = msg.payload[3];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":1020,"wires":[["abe33b25.51bd38","749b5537.2bf98c"]]},{"id":"dbc3f861.245df8","type":"comment","z":"bee77d51.c4785","name":"BARCODE 1 - REGISTRY CHECK & API","info":"","x":210,"y":920,"wires":[]},{"id":"abe33b25.51bd38","type":"function","z":"bee77d51.c4785","name":"REGISTRY CHECK","func":"let query = \"SELECT VBTIP,COLOR FROM REGISTRY WHERE BARCODE = '\";\nquery += msg.payload;\nquery += \"';\";\n\nmsg.payload = query;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":980,"wires":[["6cd637ff.eac498"]]},{"id":"6cd637ff.eac498","type":"Db2 in","z":"bee77d51.c4785","Db2":"b6f7b0ab.53b2b","service":"_ext_","query":"","params":"","name":"","x":590,"y":940,"wires":[["3e33f03c.97a7a","df9a1887.b1b358"]]},{"id":"749b5537.2bf98c","type":"function","z":"bee77d51.c4785","name":"Build URL","func":"\nvar barcode = msg.payload;\nmsg.url = \"https://api.barcodelookup.com/v2/products?barcode=\" + barcode + \"&key=81pcft1bjx0jbnsth65ldpf310crrj\";\nmsg.method = \"GET\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1280,"wires":[["1480b75a.0a44c9"]]},{"id":"1480b75a.0a44c9","type":"http request","z":"bee77d51.c4785","name":"","method":"GET","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":1100,"wires":[["91f2b5e4.40dc48"]]},{"id":"91f2b5e4.40dc48","type":"json","z":"bee77d51.c4785","name":"","property":"payload","action":"","pretty":false,"x":650,"y":1120,"wires":[["dd1d2bf5.dd7e18","df21833a.423ab","8cc83ab2.a980b8"]]},{"id":"3e33f03c.97a7a","type":"debug","z":"bee77d51.c4785","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":940,"wires":[]},{"id":"dd1d2bf5.dd7e18","type":"function","z":"bee77d51.c4785","name":"","func":"\nmsg.payload = {\n    \"BARCODE\": msg.payload.products[0].barcode_number,\n    \"IMAGE\": msg.payload.products[0].images[0]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":1040,"wires":[["9e4ce2a9.4bdc1"]]},{"id":"df9a1887.b1b358","type":"function","z":"bee77d51.c4785","name":"","func":"msg.payload = {\n    \"TIP\": msg.payload.VBTIP,\n    \"COLOR\": msg.payload.COLOR\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":980,"wires":[["9e4ce2a9.4bdc1"]]},{"id":"9e4ce2a9.4bdc1","type":"join","z":"bee77d51.c4785","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1490,"y":640,"wires":[["8a4256e2.04d988","c10be833.55a858"]]},{"id":"8a4256e2.04d988","type":"Db2 out","z":"bee77d51.c4785","Db2":"b6f7b0ab.53b2b","service":"_ext_","table":"INUSE","name":"","x":1510,"y":1540,"wires":[]},{"id":"c10be833.55a858","type":"debug","z":"bee77d51.c4785","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1230,"y":920,"wires":[]},{"id":"bbe65660.84ae78","type":"function","z":"bee77d51.c4785","name":"INUSE","func":"msg.payload = msg.payload[4];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":1260,"wires":[["f5842782.c661f8"]]},{"id":"94ab421c.f2409","type":"comment","z":"bee77d51.c4785","name":"BARCODE 2 - REGISTRY CHECK & API","info":"","x":210,"y":1180,"wires":[]},{"id":"fcc1ed3c.e388a","type":"debug","z":"bee77d51.c4785","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1230,"y":1180,"wires":[]},{"id":"34b9bc7d.45eb84","type":"delay","z":"bee77d51.c4785","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":80,"y":480,"wires":[["4ff1b503.8d00bc"]]},{"id":"c410d1a.543063","type":"function","z":"bee77d51.c4785","name":"","func":"let query = \"SELECT SUM(TIP),COUNT(BARCODE) FROM INUSE WHERE RECEIPTID = '\";\nquery += msg.payload;\nquery += \"';\";\n\nmsg.payload = query;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":540,"wires":[["75f2d426.9de49c"]]},{"id":"4ff1b503.8d00bc","type":"function","z":"bee77d51.c4785","name":"","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":480,"wires":[["c410d1a.543063"]]},{"id":"3310cc0c.1d7f64","type":"debug","z":"bee77d51.c4785","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":560,"wires":[]},{"id":"1b66be4f.287f62","type":"link out","z":"bee77d51.c4785","name":"BARCODE1","links":["6c5663e4.a7226c","8ac1e29c.c5b2d","b9e4e7b2.bc9248"],"x":985,"y":100,"wires":[]},{"id":"6c5663e4.a7226c","type":"link in","z":"bee77d51.c4785","name":"","links":["1b66be4f.287f62"],"x":65,"y":960,"wires":[["ca17951f.407598"]]},{"id":"3a5cfaea.261916","type":"link out","z":"bee77d51.c4785","name":"BARCODE 2","links":["371f2f78.41e62","b61cb664.9b33e8","45438d02.b5d124","467e9206.fee44c","ad5cc854.247318","5c9839c6.180558"],"x":995,"y":140,"wires":[]},{"id":"371f2f78.41e62","type":"link in","z":"bee77d51.c4785","name":"","links":["3a5cfaea.261916"],"x":45,"y":1240,"wires":[["bbe65660.84ae78"]]},{"id":"75f2d426.9de49c","type":"Db2 in","z":"bee77d51.c4785","Db2":"b6f7b0ab.53b2b","service":"_ext_","query":"","params":"","name":"","x":420,"y":520,"wires":[["3310cc0c.1d7f64","14362c3c.888b24","336d771d.ea66c8"]]},{"id":"14362c3c.888b24","type":"function","z":"bee77d51.c4785","name":"","func":"msg.payload = {\n    \"INUSE\": msg.payload[\"2\"]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":480,"wires":[["72fe2f6b.301b9","f97c578d.1db168"]]},{"id":"753f47ad.c0c278","type":"Db2 out","z":"bee77d51.c4785","Db2":"b6f7b0ab.53b2b","service":"_ext_","table":"RECEIPTS","name":"","x":970,"y":580,"wires":[]},{"id":"72fe2f6b.301b9","type":"join","z":"bee77d51.c4785","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":910,"y":400,"wires":[["753f47ad.c0c278"]]},{"id":"6576b050.6cb43","type":"link out","z":"bee77d51.c4785","name":"RECEIPTID","links":["26e40728.f5dc28"],"x":1175,"y":220,"wires":[]},{"id":"26e40728.f5dc28","type":"link in","z":"a282ff16.ef6a3","name":"RECEIPTID","links":["6576b050.6cb43"],"x":205,"y":180,"wires":[["1ba53675.08296a"]]},{"id":"f97c578d.1db168","type":"link out","z":"bee77d51.c4785","name":"RECEIPTQUANTITY","links":["5f387fd1.230ac"],"x":805,"y":520,"wires":[]},{"id":"336d771d.ea66c8","type":"function","z":"bee77d51.c4785","name":"","func":"msg.payload = {\n    \"TIP\": msg.payload[\"1\"]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":680,"wires":[["36d4cea2.59e592"]]},{"id":"36d4cea2.59e592","type":"link out","z":"bee77d51.c4785","name":"RECEIPTTIP","links":["3da85816.4960d8"],"x":625,"y":660,"wires":[]},{"id":"5f387fd1.230ac","type":"link in","z":"a282ff16.ef6a3","name":"","links":["f97c578d.1db168"],"x":195,"y":280,"wires":[["1ba53675.08296a"]]},{"id":"3da85816.4960d8","type":"link in","z":"a282ff16.ef6a3","name":"","links":["36d4cea2.59e592"],"x":215,"y":400,"wires":[["1ba53675.08296a"]]},{"id":"8633b1bb.c8e22","type":"link out","z":"bee77d51.c4785","name":"IS NULL","links":["b5c099de.4a0bc8"],"x":785,"y":320,"wires":[]},{"id":"190eba79.7a3f96","type":"comment","z":"a282ff16.ef6a3","name":"ID","info":"","x":160,"y":120,"wires":[]},{"id":"80009429.add8b8","type":"comment","z":"a282ff16.ef6a3","name":"QUANTITY","info":"","x":180,"y":240,"wires":[]},{"id":"e8d3d9dd.af9628","type":"comment","z":"a282ff16.ef6a3","name":"TIP","info":"","x":170,"y":340,"wires":[]},{"id":"6f7e1f3.9cf21e","type":"comment","z":"a282ff16.ef6a3","name":"IS NULL","info":"","x":180,"y":460,"wires":[]},{"id":"68b3aaf2.fb2ec4","type":"comment","z":"a282ff16.ef6a3","name":"IS NOT NULL","info":"","x":210,"y":560,"wires":[]},{"id":"b5c099de.4a0bc8","type":"link in","z":"a282ff16.ef6a3","name":"","links":["8633b1bb.c8e22"],"x":165,"y":500,"wires":[["f4d955c2.268478"]]},{"id":"b886bb06.47c258","type":"function","z":"a282ff16.ef6a3","name":"","func":"msg.payload = {\n    \"MESSAGE\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":560,"wires":[["1ba53675.08296a","2f31fe2c.4e3232"]]},{"id":"1ba53675.08296a","type":"join","z":"a282ff16.ef6a3","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":520,"y":220,"wires":[["3809de9d.4826c2","9df25fcc.f4bed"]]},{"id":"323a50b2.8876","type":"websocket out","z":"a282ff16.ef6a3","name":"","server":"fb902840.8a9a48","client":"","x":1180,"y":340,"wires":[]},{"id":"2f31fe2c.4e3232","type":"debug","z":"a282ff16.ef6a3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":600,"wires":[]},{"id":"3809de9d.4826c2","type":"function","z":"a282ff16.ef6a3","name":"","func":"msg.payload = {\n    \"MESSAGE\": msg.payload.MESSAGE,\n    \"RECEIPTID\": msg.payload.RECEIPTID,\n    \"INUSE\": msg.payload.INUSE,\n    \"TIP\": msg.payload.TIP\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":260,"wires":[["69c58aab.7918c4","9df25fcc.f4bed"]]},{"id":"d4c78395.77bf2","type":"join","z":"a282ff16.ef6a3","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1010,"y":320,"wires":[["323a50b2.8876"]]},{"id":"69c58aab.7918c4","type":"split","z":"a282ff16.ef6a3","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":850,"y":280,"wires":[["d4c78395.77bf2"]]},{"id":"79de18f9.c17528","type":"http in","z":"64beb62b.c3e028","name":"","url":"/scanbarcode","method":"post","upload":false,"swaggerDoc":"","x":150,"y":140,"wires":[["99dbbf0a.4b2c8","d1d93ee7.22531"]]},{"id":"14dce1d6.5338ee","type":"debug","z":"64beb62b.c3e028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":380,"wires":[]},{"id":"a0033ee5.445b5","type":"function","z":"64beb62b.c3e028","name":"","func":"let query = \"SELECT * FROM INUSE WHERE BARCODE = '\";\nquery += msg.payload;\nquery += \"' ORDER BY DATE LIMIT 1;\";\n\nmsg.payload = query;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":280,"wires":[["6a9aefa9.03519"]]},{"id":"99dbbf0a.4b2c8","type":"function","z":"64beb62b.c3e028","name":"","func":"msg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":220,"wires":[["a0033ee5.445b5"]]},{"id":"6a9aefa9.03519","type":"Db2 in","z":"64beb62b.c3e028","Db2":"b6f7b0ab.53b2b","service":"_ext_","query":"","params":"","name":"","x":370,"y":320,"wires":[["2852e8e2.172c78","d9e4bd7e.3935c","7caf3da4.f56864","f0f0b34.061245"]]},{"id":"e98ab19c.860d8","type":"function","z":"64beb62b.c3e028","name":"","func":"let query = \"DELETE FROM INUSE WHERE DATE = '\";\nquery += msg.payload.DATE;\nquery += \"' AND BARCODE = '\";\nquery += msg.payload.BARCODE;\nquery += \"' LIMIT 1;\";\n\nmsg.payload = query;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["14dce1d6.5338ee","fa94361b.73ec68"]]},{"id":"916171d0.33bc8","type":"debug","z":"64beb62b.c3e028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":200,"wires":[]},{"id":"2852e8e2.172c78","type":"delay","z":"64beb62b.c3e028","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":280,"wires":[["e98ab19c.860d8"]]},{"id":"d9e4bd7e.3935c","type":"function","z":"64beb62b.c3e028","name":"","func":"msg.payload = {\n    \"NAME\": msg.payload.NAME,\n    \"IMAGE\": msg.payload.IMAGE,\n    \"COLOR\": msg.payload.COLOR,\n    \"MESSAGE\": \"Recycle!\",\n    \"TIP\": msg.payload.TIP\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":460,"wires":[["dcf6f426.e718c8"]]},{"id":"dcf6f426.e718c8","type":"split","z":"64beb62b.c3e028","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":400,"y":520,"wires":[["e6669662.9687a8"]]},{"id":"e6669662.9687a8","type":"join","z":"64beb62b.c3e028","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":420,"y":600,"wires":[["99b23089.b3d6d"]]},{"id":"99b23089.b3d6d","type":"websocket out","z":"64beb62b.c3e028","name":"","server":"a50bb690.af3168","client":"","x":640,"y":600,"wires":[]},{"id":"7caf3da4.f56864","type":"function","z":"64beb62b.c3e028","name":"","func":"msg.payload = {\n    \"DATE\": new Date().toLocaleDateString(),\n    \"BARCODE\": msg.payload.BARCODE,\n    \"NAME\": msg.payload.NAME,\n    \"IMAGE\": msg.payload.IMAGE,\n    \"TIP\": msg.payload.TIP,\n    \"RECEIPTID\": msg.payload.RECEIPTID,\n    \"COLOR\": msg.payload.COLOR\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":400,"wires":[["2a802988.077fc6","dfe90649.544b48"]]},{"id":"2a802988.077fc6","type":"Db2 out","z":"64beb62b.c3e028","Db2":"b6f7b0ab.53b2b","service":"_ext_","table":"VIRTUALBIN","name":"","x":750,"y":460,"wires":[]},{"id":"dfe90649.544b48","type":"debug","z":"64beb62b.c3e028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":360,"wires":[]},{"id":"32208dc6.319cc2","type":"inject","z":"64beb62b.c3e028","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":80,"wires":[["3571a692.1b00ba"]]},{"id":"4ff92c9d.78de24","type":"debug","z":"64beb62b.c3e028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":140,"wires":[]},{"id":"3571a692.1b00ba","type":"function","z":"64beb62b.c3e028","name":"","func":"msg.payload = new Date().toLocaleDateString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":100,"wires":[["4ff92c9d.78de24"]]},{"id":"525f5145.3cccb","type":"function","z":"9f962e90.80853","name":"","func":"msg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":320,"wires":[["e8d3b75c.3d7a48","74e45116.d66e9"]]},{"id":"e8d3b75c.3d7a48","type":"function","z":"9f962e90.80853","name":"","func":"let query = \"SELECT COUNT(BARCODE) FROM VIRTUALBIN WHERE BARCODE = '\";\nquery += msg.payload;\nquery += \"';\";\n\nmsg.payload = query;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":300,"wires":[["8e53c4f9.ee80e8"]]},{"id":"8e53c4f9.ee80e8","type":"Db2 in","z":"9f962e90.80853","Db2":"b6f7b0ab.53b2b","service":"_ext_","query":"","params":"","name":"","x":480,"y":400,"wires":[["8af58017.6de24","939de810.d2dda8","ed1c8743.cbabc8"]]},{"id":"8af58017.6de24","type":"switch","z":"9f962e90.80853","name":"","property":"payload[1]","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":460,"wires":[["b29ed73e.e193c8","2089cb35.207b64"]]},{"id":"b29ed73e.e193c8","type":"function","z":"9f962e90.80853","name":"","func":"msg.payload = \"https://img.icons8.com/ios/2x/xbox-x.png\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":460,"wires":[["b7418030.bf1b3"]]},{"id":"ed1c8743.cbabc8","type":"switch","z":"9f962e90.80853","name":"","property":"payload[1]","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":520,"wires":[["274b4e7c.29c002","45b92466.4ee66c","36671615.8e259a"]]},{"id":"274b4e7c.29c002","type":"function","z":"9f962e90.80853","name":"","func":"msg.payload = \"https://img.icons8.com/flat-round/2x/checkmark.png\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":540,"wires":[["b7418030.bf1b3"]]},{"id":"b7418030.bf1b3","type":"function","z":"9f962e90.80853","name":"","func":"msg.payload = {\n    \"MESSAGE\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":500,"wires":[["77920dc5.2ec824"]]},{"id":"79e9c005.ca24b","type":"debug","z":"9f962e90.80853","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":880,"wires":[]},{"id":"b3d4c4cb.775788","type":"function","z":"9f962e90.80853","name":"","func":"msg.payload = {\n    \"TIP\": msg.payload[2]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":660,"wires":[["79e9c005.ca24b","77920dc5.2ec824"]]},{"id":"77920dc5.2ec824","type":"join","z":"9f962e90.80853","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":850,"y":600,"wires":[["9142b4c4.b51f28"]]},{"id":"871ff76b.d765c8","type":"split","z":"9f962e90.80853","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1170,"y":580,"wires":[["9b3817e6.a7c068"]]},{"id":"9b3817e6.a7c068","type":"join","z":"9f962e90.80853","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1040,"y":720,"wires":[["8b2c157.181f9e8","a54274bb.80c6e8"]]},{"id":"8b2c157.181f9e8","type":"debug","z":"9f962e90.80853","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":840,"wires":[]},{"id":"4593281c.928438","type":"function","z":"9f962e90.80853","name":"","func":"msg.payload = {\n    \"DATE\": new Date().toLocaleDateString(),\n    \"COLOR\": \"https://www.iconsdb.com/icons/preview/green/triangle-xxl.png\",\n    \"COUNT\": msg.payload[1],\n    \"TIP\": msg.payload[2]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":840,"wires":[["33e2ea31.34de56","bb0b3514.063ab8"]]},{"id":"7783329d.68c1cc","type":"Db2 out","z":"9f962e90.80853","Db2":"b6f7b0ab.53b2b","service":"_ext_","table":"TIPJAR","name":"","x":670,"y":940,"wires":[]},{"id":"74e45116.d66e9","type":"change","z":"9f962e90.80853","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"https://www.iconsdb.com/icons/preview/green/triangle-xxl.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":620,"wires":[["45b92466.4ee66c","2c3d1cc.d5685e4"]]},{"id":"45b92466.4ee66c","type":"debug","z":"9f962e90.80853","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":360,"wires":[]},{"id":"33e2ea31.34de56","type":"delay","z":"9f962e90.80853","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":1060,"wires":[["8f83e589.f1d828"]]},{"id":"88d9f60c.9cc7b8","type":"function","z":"9f962e90.80853","name":"","func":"let query = \"DELETE FROM VIRTUALBIN WHERE COLOR = '\";\nquery += msg.payload;\nquery += \"';\";\n\nmsg.payload = query;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1100,"wires":[["cd44aa7c.a34158"]]},{"id":"8f83e589.f1d828","type":"change","z":"9f962e90.80853","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"https://www.iconsdb.com/icons/preview/green/triangle-xxl.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1080,"wires":[["88d9f60c.9cc7b8"]]},{"id":"44f62cee.a452a4","type":"Db2 in","z":"9f962e90.80853","Db2":"b6f7b0ab.53b2b","service":"_ext_","query":"","params":"","name":"","x":470,"y":760,"wires":[["b3d4c4cb.775788","4593281c.928438"]]},{"id":"2c3d1cc.d5685e4","type":"function","z":"9f962e90.80853","name":"","func":"let query = \"SELECT COUNT(BARCODE), SUM(TIP) FROM VIRTUALBIN WHERE COLOR = '\";\nquery += msg.payload;\nquery += \"';\";\n\nmsg.payload = query;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":680,"wires":[["44f62cee.a452a4"]]},{"id":"85365562.f3a8e8","type":"http in","z":"9f962e90.80853","name":"","url":"/Green2","method":"post","upload":false,"swaggerDoc":"","x":170,"y":140,"wires":[["525f5145.3cccb"]]},{"id":"4f5a7121.5f1cd","type":"http in","z":"9f962e90.80853","name":"","url":"/Green1","method":"post","upload":false,"swaggerDoc":"","x":150,"y":60,"wires":[["605f72f4.d5f20c"]]},{"id":"16fdfe01.215ee2","type":"function","z":"9f962e90.80853","name":"","func":"msg.payload = \"Thank you, Guest User 1234, for scanning your Green Bin QR Code!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":180,"wires":[["25b2ac2b.553bf4"]]},{"id":"605f72f4.d5f20c","type":"function","z":"9f962e90.80853","name":"","func":"msg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":80,"wires":[["17537c7e.2e3a04"]]},{"id":"17537c7e.2e3a04","type":"split","z":"9f962e90.80853","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":530,"y":160,"wires":[["2bacd47d.4a398c"]]},{"id":"2bacd47d.4a398c","type":"join","z":"9f962e90.80853","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":120,"wires":[["4d5aab6a.498914","41163606.bec3a8"]]},{"id":"925e8701.125e68","type":"debug","z":"9f962e90.80853","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1410,"y":440,"wires":[]},{"id":"4d5aab6a.498914","type":"switch","z":"9f962e90.80853","name":"","property":"payload[1]","propertyType":"msg","rules":[{"t":"eq","v":"green","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":100,"wires":[["16fdfe01.215ee2"]]},{"id":"41163606.bec3a8","type":"switch","z":"9f962e90.80853","name":"","property":"payload[1]","propertyType":"msg","rules":[{"t":"neq","v":"green","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":200,"wires":[["2f95c134.666dfe"]]},{"id":"2f95c134.666dfe","type":"function","z":"9f962e90.80853","name":"","func":"msg.payload = \"Thank you, Guest User 1234, for scanning your Green Bin QR Code!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":240,"wires":[["25b2ac2b.553bf4"]]},{"id":"25b2ac2b.553bf4","type":"function","z":"9f962e90.80853","name":"","func":"msg.payload = {\n    \"MESSAGE\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":240,"wires":[["658903dc.7ee9cc"]]},{"id":"658903dc.7ee9cc","type":"split","z":"9f962e90.80853","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1240,"y":300,"wires":[["925e8701.125e68","bec5f46e.8d0a08"]]},{"id":"bec5f46e.8d0a08","type":"websocket out","z":"9f962e90.80853","name":"","server":"edd698c4.e82588","client":"","x":1470,"y":300,"wires":[]},{"id":"79588a13.023a54","type":"change","z":"bee77d51.c4785","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":",","fromt":"str","to":".","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1200,"wires":[["965c06e6.d92408","fcc1ed3c.e388a"]]},{"id":"965c06e6.d92408","type":"function","z":"bee77d51.c4785","name":"","func":"\nmsg.payload = {\n    \"NAME\": msg.payload\n   \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":1380,"wires":[["9e4ce2a9.4bdc1"]]},{"id":"e30b30e5.ed986","type":"Db2 in","z":"e3d3adc8.eb969","Db2":"b6f7b0ab.53b2b","service":"_ext_","query":"","params":"","name":"","x":630,"y":240,"wires":[["dbe26314.08033"]]},{"id":"2f9795ef.706bca","type":"inject","z":"e3d3adc8.eb969","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":140,"wires":[["f9ccdd91.504d","80fcf04.b0b7f1"]]},{"id":"dbe26314.08033","type":"debug","z":"e3d3adc8.eb969","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":340,"wires":[]},{"id":"f9ccdd91.504d","type":"function","z":"e3d3adc8.eb969","name":"","func":"let query = \"DELETE FROM INUSE;\";\n\n\nmsg.payload = query;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":180,"wires":[["e30b30e5.ed986"]]},{"id":"fc76b532.c6e018","type":"http in","z":"e3d3adc8.eb969","name":"","url":"/clicked","method":"post","upload":false,"swaggerDoc":"","x":150,"y":320,"wires":[["8830ac73.50304"]]},{"id":"8830ac73.50304","type":"function","z":"e3d3adc8.eb969","name":"","func":"msg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":400,"wires":[["26c845a9.7ff4ba","dbe26314.08033"]]},{"id":"c514d0e3.29332","type":"function","z":"e3d3adc8.eb969","name":"","func":"let query = \"DELETE FROM TIPJAR;\";\n\n\nmsg.payload = query;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":500,"wires":[["f2c37de6.eac52","e30b30e5.ed986"]]},{"id":"26c845a9.7ff4ba","type":"switch","z":"e3d3adc8.eb969","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Hello","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":460,"wires":[["c514d0e3.29332"]]},{"id":"f2c37de6.eac52","type":"debug","z":"e3d3adc8.eb969","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":580,"wires":[]},{"id":"cd44aa7c.a34158","type":"link out","z":"9f962e90.80853","name":"DELETE VB","links":["b82e7295.6b00e"],"x":985,"y":1100,"wires":[]},{"id":"b82e7295.6b00e","type":"link in","z":"e3d3adc8.eb969","name":"","links":["cd44aa7c.a34158"],"x":525,"y":160,"wires":[["e30b30e5.ed986"]]},{"id":"939de810.d2dda8","type":"debug","z":"9f962e90.80853","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":320,"wires":[]},{"id":"fa94361b.73ec68","type":"link out","z":"64beb62b.c3e028","name":"Delete","links":["86279119.1735a"],"x":785,"y":200,"wires":[]},{"id":"86279119.1735a","type":"link in","z":"e3d3adc8.eb969","name":"","links":["fa94361b.73ec68"],"x":105,"y":220,"wires":[["e30b30e5.ed986"]]},{"id":"2089cb35.207b64","type":"function","z":"9f962e90.80853","name":"","func":"msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":640,"wires":[[]]},{"id":"36671615.8e259a","type":"function","z":"9f962e90.80853","name":"","func":"msg.payload = {\n    \"FILL\": \"Good\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":860,"wires":[["bb0b3514.063ab8"]]},{"id":"bb0b3514.063ab8","type":"join","z":"9f962e90.80853","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":320,"y":940,"wires":[["9639d0be.9c652"]]},{"id":"9639d0be.9c652","type":"function","z":"9f962e90.80853","name":"","func":"msg.payload = {\n    \"DATE\": msg.payload.DATE,\n    \"COLOR\": msg.payload.COLOR,\n    \"COUNT\": msg.payload.COUNT,\n    \"TIP\": msg.payload.TIP\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":1040,"wires":[["7783329d.68c1cc","1c9c4f1e.5ca501"]]},{"id":"1c9c4f1e.5ca501","type":"function","z":"9f962e90.80853","name":"","func":"let query = \"SELECT SUM(TIP) FROM TIPJAR;\";\n\n\nmsg.payload = query;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":1100,"wires":[["ea61066d.5daf58"]]},{"id":"957e36c4.b81018","type":"inject","z":"9f962e90.80853","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1160,"wires":[["1c9c4f1e.5ca501"]]},{"id":"ea61066d.5daf58","type":"Db2 in","z":"9f962e90.80853","Db2":"b6f7b0ab.53b2b","service":"_ext_","query":"","params":"","name":"","x":460,"y":1160,"wires":[["90ed5b9f.3c6108"]]},{"id":"90ed5b9f.3c6108","type":"function","z":"9f962e90.80853","name":"","func":"msg.payload = msg.payload[\"1\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":1200,"wires":[["f6f4c821.0a4eb8"]]},{"id":"f6f4c821.0a4eb8","type":"websocket out","z":"9f962e90.80853","name":"","server":"dd4de0e9.d2797","client":"","x":760,"y":1240,"wires":[]},{"id":"f5842782.c661f8","type":"delay","z":"bee77d51.c4785","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":1320,"wires":[["abe33b25.51bd38","749b5537.2bf98c"]]},{"id":"467e9206.fee44c","type":"link in","z":"bee77d51.c4785","name":"","links":["3a5cfaea.261916"],"x":55,"y":1440,"wires":[["7b79e795.5286f8"]]},{"id":"7b79e795.5286f8","type":"function","z":"bee77d51.c4785","name":"INUSE","func":"msg.payload = msg.payload[5];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":1440,"wires":[["dad7e90f.3096f8"]]},{"id":"ad5cc854.247318","type":"link in","z":"bee77d51.c4785","name":"","links":["3a5cfaea.261916"],"x":95,"y":1580,"wires":[["55a9ba14.187ad4"]]},{"id":"55a9ba14.187ad4","type":"function","z":"bee77d51.c4785","name":"INUSE","func":"msg.payload = msg.payload[6];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":1600,"wires":[["236e85ce.5bb54a"]]},{"id":"5c9839c6.180558","type":"link in","z":"bee77d51.c4785","name":"","links":["3a5cfaea.261916"],"x":135,"y":1660,"wires":[["35cb4cb9.85bf14"]]},{"id":"35cb4cb9.85bf14","type":"function","z":"bee77d51.c4785","name":"INUSE","func":"msg.payload = msg.payload[7];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":1680,"wires":[["270f23be.45582c"]]},{"id":"dad7e90f.3096f8","type":"delay","z":"bee77d51.c4785","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":1460,"wires":[["abe33b25.51bd38","749b5537.2bf98c"]]},{"id":"236e85ce.5bb54a","type":"delay","z":"bee77d51.c4785","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":1600,"wires":[["abe33b25.51bd38","749b5537.2bf98c"]]},{"id":"270f23be.45582c","type":"delay","z":"bee77d51.c4785","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":1720,"wires":[["abe33b25.51bd38","749b5537.2bf98c"]]},{"id":"8af02cd6.64fd4","type":"delay","z":"bee77d51.c4785","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":340,"wires":[["9e4ce2a9.4bdc1"]]},{"id":"2468b5ca.2114da","type":"delay","z":"bee77d51.c4785","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1150,"y":420,"wires":[["9e4ce2a9.4bdc1"]]},{"id":"e0c6c431.5a4f38","type":"delay","z":"bee77d51.c4785","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1150,"y":500,"wires":[["9e4ce2a9.4bdc1"]]},{"id":"37512218.11abde","type":"delay","z":"bee77d51.c4785","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1130,"y":620,"wires":[["9e4ce2a9.4bdc1"]]},{"id":"39f2e58f.af059a","type":"delay","z":"bee77d51.c4785","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1540,"y":220,"wires":[["9e4ce2a9.4bdc1"]]},{"id":"314baf0b.2531f","type":"delay","z":"bee77d51.c4785","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1550,"y":300,"wires":[["9e4ce2a9.4bdc1"]]},{"id":"50ef8cb1.5c9534","type":"delay","z":"bee77d51.c4785","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1550,"y":380,"wires":[["9e4ce2a9.4bdc1"]]},{"id":"d4b6816a.506da","type":"delay","z":"bee77d51.c4785","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1530,"y":500,"wires":[["9e4ce2a9.4bdc1"]]},{"id":"a54274bb.80c6e8","type":"websocket out","z":"9f962e90.80853","name":"","server":"39cd944.389e56c","client":"","x":1330,"y":680,"wires":[]},{"id":"df21833a.423ab","type":"debug","z":"bee77d51.c4785","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":1080,"wires":[]},{"id":"8cc83ab2.a980b8","type":"function","z":"bee77d51.c4785","name":"","func":"msg.payload = msg.payload.products[0].product_name;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":1160,"wires":[["79588a13.023a54"]]},{"id":"9142b4c4.b51f28","type":"function","z":"9f962e90.80853","name":"","func":"msg.payload = {\n    \"MESSAGE\": msg.payload.MESSAGE,\n    \"TIP\": msg.payload.TIP\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":580,"wires":[["871ff76b.d765c8"]]},{"id":"2d4b69af.22f666","type":"http in","z":"e3d3adc8.eb969","name":"","url":"/orangeclear","method":"post","upload":false,"swaggerDoc":"","x":240,"y":680,"wires":[["12236d7d.980ce3"]]},{"id":"12236d7d.980ce3","type":"function","z":"e3d3adc8.eb969","name":"","func":"msg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":720,"wires":[["f5fcaa83.cfeb18"]]},{"id":"a63d6e39.63002","type":"function","z":"e3d3adc8.eb969","name":"","func":"let query = \"DELETE FROM VIRTUALBIN WHERE COLOR = '\";\nquery += msg.payload;\nquery += \"';\";\n\n\nmsg.payload = query;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":900,"wires":[["e30b30e5.ed986"]]},{"id":"f5fcaa83.cfeb18","type":"switch","z":"e3d3adc8.eb969","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Clear","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":780,"wires":[["fdb5b83c.d2c2d8"]]},{"id":"fdb5b83c.d2c2d8","type":"change","z":"e3d3adc8.eb969","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"https://www.iconsdb.com/icons/preview/orange/square-xxl.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":840,"wires":[["a63d6e39.63002"]]},{"id":"6a91972e.8a7478","type":"debug","z":"bee77d51.c4785","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":300,"y":400,"wires":[]},{"id":"9df25fcc.f4bed","type":"debug","z":"a282ff16.ef6a3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":160,"wires":[]},{"id":"946959c7.c78748","type":"function","z":"bee77d51.c4785","name":"","func":"msg.payload = {\n    \"PLACER\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":280,"wires":[["472a2a0d.2062c4"]]},{"id":"735068b3.c66e78","type":"inject","z":"e3d3adc8.eb969","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":810,"y":300,"wires":[["2cc7c6b5.b8727a"]]},{"id":"2cc7c6b5.b8727a","type":"function","z":"e3d3adc8.eb969","name":"","func":"msg.payload = {\n    \"1\": \"1\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":380,"wires":[["42702a0b.1abb24"]]},{"id":"91de30df.19471","type":"debug","z":"e3d3adc8.eb969","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":620,"wires":[]},{"id":"f4d955c2.268478","type":"switch","z":"a282ff16.ef6a3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":540,"wires":[["b886bb06.47c258"]]},{"id":"42702a0b.1abb24","type":"function","z":"e3d3adc8.eb969","name":"","func":"if (msg.payload[\"1\"] == \"0\"){\n   msg.payload = \"Hello\"\n}\n\nelse {\n    msg.payload = null\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":420,"wires":[["7df56176.40bcf"]]},{"id":"7df56176.40bcf","type":"switch","z":"e3d3adc8.eb969","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":980,"y":520,"wires":[["91de30df.19471"]]},{"id":"6acbba28.221084","type":"debug","z":"bee77d51.c4785","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":160,"wires":[]},{"id":"145946d2.c5c7b9","type":"debug","z":"bee77d51.c4785","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1120,"y":100,"wires":[]},{"id":"f0727a8b.229e28","type":"http in","z":"e3d3adc8.eb969","name":"","url":"/purpleclear","method":"post","upload":false,"swaggerDoc":"","x":250,"y":980,"wires":[["63e83a9b.0947e4"]]},{"id":"63e83a9b.0947e4","type":"function","z":"e3d3adc8.eb969","name":"","func":"msg.payload = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1020,"wires":[["a6a3ff59.b4ba5"]]},{"id":"69e66ff5.8ee5f","type":"function","z":"e3d3adc8.eb969","name":"","func":"let query = \"DELETE FROM VIRTUALBIN WHERE COLOR = '\";\nquery += msg.payload;\nquery += \"';\";\n\n\nmsg.payload = query;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":1200,"wires":[["e30b30e5.ed986"]]},{"id":"a6a3ff59.b4ba5","type":"switch","z":"e3d3adc8.eb969","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Clear","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":1080,"wires":[["fac4486b.08ba48"]]},{"id":"fac4486b.08ba48","type":"change","z":"e3d3adc8.eb969","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"https://www.iconsdb.com/icons/preview/purple/circle-xxl.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1140,"wires":[["69e66ff5.8ee5f"]]},{"id":"fb8daf99.c7d1f","type":"function","z":"e3d3adc8.eb969","name":"","func":"let query = \"DELETE FROM VIRTUALBIN WHERE COLOR = '\";\nquery += msg.payload;\nquery += \"';\";\n\n\nmsg.payload = query;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":80,"wires":[["e30b30e5.ed986"]]},{"id":"80fcf04.b0b7f1","type":"change","z":"e3d3adc8.eb969","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"https://www.iconsdb.com/icons/preview/green/triangle-xxl.png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":60,"wires":[["fb8daf99.c7d1f"]]},{"id":"f0f0b34.061245","type":"debug","z":"64beb62b.c3e028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":220,"y":380,"wires":[]},{"id":"d1d93ee7.22531","type":"debug","z":"64beb62b.c3e028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":200,"y":220,"wires":[]}]
